body {
	font-family: 'Comfortaa';
	user-select: none;
}

button {
	cursor: inherit;
}

.HotBar {
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
}

.HotbarSlot {
	width: 48px;
	height: 48px;

	border-radius: 12px;

	font-size: 10pt;
	font-family: 'Comfortaa';
	font-weight: bold;

	display: flex;
	justify-content: center;
	align-items: center;
}

.HotbarSlot:focus {
	outline: none;
}

.ItemSlot:focus {
	outline: none;
}

.PlayerBars {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 540px;
	left: calc(50vw - 270px);
	bottom: 5vh;
}

.HealthBar, .ManaBar {
	position: relative;

	height: 16px;
	width: 256px;

	border:  4px solid black;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, .5);

	overflow: hidden;
}

.HealthBar > *, .ManaBar > * {
	position: absolute;
}

.BarPrimary {
	height: 24px;
	background-color: green;
}

.ManaBarPrimary {
	height: 24px;
	background-color: blue;
	transition: width 0.2s;
}

.BarText {
	position: absolute;
	margin-top: -12px;
	padding-left: 12px;

	width: 256px;

	font-size: 12pt;
	font-family: 'Comfortaa';
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;
}

.BarValue {
	display: flex;
	justify-content: center;
	flex-grow: 1;

	font-size: 16pt;
	font-weight: bold;
}

.CharacterMenu {
	border:  4px solid black;
	border-radius: 12px;

	color: white;
	background-color: rgba(0, 0, 0, .5);
}

.Trash {
	width: 100vw;
	height: 100vh;
}

.TargetText {
	position: absolute;
	margin-top: -12px;
	padding-left: 12px;

	width: 256px;

	font-size: 12pt;
	font-family: 'Comfortaa';
	font-weight: bold;

	display: flex;
}


@keyframes roll {
  0% {
    clip-path: polygon(50% 0%, 50% 50%, 50% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  12.5% {
    clip-path: polygon(50% 0%, 50% 50%, 100% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 0%);
  }
  25% {
    clip-path: polygon(50% 0%, 50% 50%, 100% 50%, 100% 50%, 100% 100%, 0% 100%, 0% 0%);
  }
  37.5% {
    clip-path: polygon(50% 0%, 50% 50%, 100% 100%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
  }
  50% {
    clip-path: polygon(50% 0%, 50% 50%, 50% 100%, 50% 100%, 50% 100%, 0% 100%, 0% 0%);
  }
  62.5% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 0%);
  }
  75% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 0%);
  }
  87.5% {
    clip-path: polygon(50% 0%, 50% 50%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(50% 0%, 50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
}
